@font-face {
	font-family: "Bender";
	src: url('../fonts/Jovanny\ Lemonad\ -\ Bender.otf');
}

@font-face {
	font-family: "Sariah";
	src: url('../fonts/Sariah.otf');
}

body, html {
	padding: 0;
	margin: 0;
	font-family: "Bender", sans-serif;
	color:lemonchiffon;
	background: url('../img/unicorn.jpg');
	background-size: cover;
}
header {
	width: 100%;
	height: 50px;
	padding: 10px 0;
	border-bottom: 1px solid lemonchiffon;
	background: url('../img/unicorn.jpg') no-repeat;
	background-size: cover;
}
#headerInside {
	width: 1100px;
	margin: 0 auto;
}
#logo {
	width: 50px;
	height: 50px;
	float: left;
	background: url('../img/logogo.svg') no-repeat;
	background-size: contain;
}
#company-name {
	font-family: "Sariah", sans-serif;
	float:left;
	margin-left: 15px;
	font-size: 52px;
	line-height: 50px;
	color:lemonchiffon;
}
#navWrap {
	align-items: center;
	flex-direction: row;
	display: flex;
	height: 50px;
	float: right;
}
#navWrap a {
	border-left: 1px solid #222a37;
	border-right: 1px solid #222a37;
	display: block;
	font-family: "Bender", sans-serif;
	color:lemonchiffon;
	padding: 0 20px;
	height: 70px;
	line-height: 70px;
	text-decoration: none;
}
#navWrap a:last-child {
	border-left: none;
}
#navWrap a:hover {
	background:#1d232d;
}
#content {
	display: flex; 
	align-items: center; 
	justify-content: center; 
	height: 100%; 
	flex-direction: column;
}